.App {
  padding: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes flashing {
    0%   {
        filter: brightness(1);
    }
    50%  {
        filter: brightness(1.1);
    }
    100% {
        filter: brightness(1);
    }
  }

.game {
  width: 100%;
  padding: 10px;
}

.game-codes {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.main {
  display: flex;
}

.messaging-controls {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid black;
  border-radius: 5px;
}

.messaging-controls input {
  width: 100%;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  height: 86vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
  width: 20vw;
}

.send {
  width: 100%;
}

.color-reminder:nth-child(2) {
  background: rgb(245, 245, 245);
  width: 32%;
}

.color-reminder {
  display: flex;
  font-size: 20px;
  border-radius: 5px;
  padding: 2px;
  align-items: center;
  justify-content: center;
}

.color-reminder div {
  width: 100%;
}

.game-controls {
  display: flex;
  justify-content: space-around;
}

.team-lists {
  display: flex;
}

.team-list {
  display: flex;
  flex-direction: column;
  margin: 5px;
  background: rgb(245, 245, 245);
  padding: 10px;
  border-radius: 5px;
}