.welcome {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome form {
    text-align: center;
}

.form-check > *{
    margin: 5px;
}

.form-check input {
    margin: 2px;
}