ul {
    /* height: 65%; */
    width: 100%;
    /* display: flex; */
    padding: 0px;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
}



/* .card::after {
    width: 0px;
    height: 100%;
    border-top: 2px solid rebeccapurple;
    border-bottom: 2px solid rebeccapurple;
    transition: width .3s;
} */



/* .card:hover::after {
    content: "";
    width: 100%;
    transition: width .3s;
} */




