ul {
    height: 80%;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
}

.card-row {
    display: flex;
}

.card {
    background: rgb(230, 210, 180);
    border: 2px solid gray;
    border-radius: 5px;
    height: 19%;
    width: 19%;
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px;
}

.card div {
    width: 100%;
    background: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderable::before, card::after {
    position: absolute;
    content: "";
    border-radius: 5px;
}

/* .card::after {
    width: 0px;
    height: 100%;
    border-top: 2px solid rebeccapurple;
    border-bottom: 2px solid rebeccapurple;
    transition: width .3s;
} */

.borderable::before {
    width: 100%;
    height: 0px;
    border-left: 3px solid rebeccapurple;
    border-right: 3px solid rebeccapurple;
    transition: height .3s;
}

.borderable:hover::before {
    height: 100%;
    transition: height .3s;
}

/* .card:hover::after {
    content: "";
    width: 100%;
    transition: width .3s;
} */

.borderable:hover {
    cursor: pointer;
}



